[Unit]
Description=xaees 
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStartPre=/cleanup.sh
ExecStart=python3 xaees_main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
